.changePassword{
    position: absolute;
    top: 30%;
    left:50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.confirm_button{
    position: absolute;
    left: 30%;
    top: 250px;
    width: 120px;
    height: 40px;
    display: block;
    background-color: #4a77d4;
    border: 1px solid #3762bc;
    color: #fff;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
}

